.testimonials-container {
    text-align: center;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif; 
    border-top: 3px solid #333
}
.testimonials-container h2 {
  color: #333; 
  margin-bottom: 40px; 
}
.testimonials-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.testimonial {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  min-height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.testimonial .rating {
  position: absolute;
  top: 10px; 
  left: 10px; 
  color: #FFD700; 
}
.quote {
  font-size: 1.1rem; 
  font-style: italic;
}
.author {
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: left;
}
.navigation-button {
  background: none;
  border: none;
  color: #333; 
  cursor: pointer;
  font-size: 2rem; 
}
.navigation-button:disabled {
  color: #ccc; 
}