.modal-dialog {
  margin-top: 30px !important; /* I've used !important as a last resort this is due to bootstrap*/
  margin-left: auto !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  max-height: calc(100vh - 100px) !important; 
  overflow-y: auto !important; /* Enable vertical scrolling */
}
.body-scroll {
  overflow: visible !important;
}
.modal-content {
  width: 100% !important;
  background-color: #7fceff !important;
  margin-top: 850px !important; /* title of the accessibility adjustment */
}
/* Dark theme styles */
.dark-theme {
  background-color: #333;
  color: rgb(0, 0, 0);
  /* other styles for dark theme */
}
.modal-title-custom {
  font-size: 24px;
  color: #000000 !important;
  margin-left: auto !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}
/* css for the components */
/* [data-theme='dark'] {
  --background: #000;
  --text-primary: #ffffff;
}
.theme-Toggle{
  background-color: var(--background);
  color: var(--text-primary);
} */
.theme-Toggle i {
  /* cursor: pointer; */
  transition: all 0.5s;
  font-size: 0.8rem
}
.theme-Toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 1px solid #000; 
  border-radius: 50%;
  /* background-color: #d7d7d7;
  color: #000; */
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;
  background-color: #f2f2f2;
}
/*Background Color css */
.color-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-options {
  display: flex;
  margin-bottom: 1rem;
}
.color-selector-container {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px; /* Rounded corners */
}
/* this is to make it smaller */
.color-option-button {
  width: 17px; /* Reduced size */
  height: 17px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin: 2px;
}
/* If you want to reduce the text size in the color-selector-container */
.color-selector-container p {
  font-size: 0.8rem; /* Smaller font size for the text */
  margin-bottom: 15px; /* Reduced bottom margin */
}
/* Adjusting the color-selector-container padding for a smaller box */
.color-selector-container {
  padding: 5px; /* Reduced padding */
  display: inline-block; /* This will shrink the container to fit its content */
  background-color:  #f2f2f2;
  /* border-radius: 5px;
  margin-right: 10px; */
  border: 1px solid #000; 
}
.color-selector-container{
  position: absolute;
  margin-top: -120px;
  margin-left: 170px;
  height: 118px;
}
/*Low saturation */
.low-saturation {
  filter: saturate(0.5);
}
.square-button {
  width: 120px; 
  height: 120px;
  background-color:#f2f2f2;
  border: 1px solid #000; 
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 0.8rem
}
/*Adjust Text Colours*/
.text-color-selector-container {
  border-radius: 5px;
  padding: 5px; /* Reduced padding */
  display: inline-block; /* This will shrink the container to fit its content */
  background-color:  #f2f2f2;
  border: 1px solid #000;
  font-size: 0.8rem;
}
.text-color-options {
  display: flex;
  justify-content: center; /* Center the color buttons */
  margin-bottom: 1rem;
}
.color-options-button {
  margin: 0 5px; /* Space out the color buttons */
}
.text-color-selector-container{
  position: absolute;
  margin-top: -122px;
  margin-left: 170px;
}
.adjust-color{
  height: 30px;
  width: 63px;
  font-size: medium;
}
/* Styles for the text-to-speech feature */
.text-to-speech-container {
  border: 1px solid #000;
  padding: 20px;
  width: 120px; 
  height: 120px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18px auto; /* Center the box */
  margin-right: 540px;
  cursor: pointer;
  background-color:  #f2f2f2;
}
.text-to-speech-input {
  margin-bottom: 10px; /* Space between input and button */
  width: 100%; /* Input width to fill the container */
}
.text-to-speech-button {
  width: 100%; /* Button width to fill the container */
}
/*CSS for the narrator*/
.narration-container {
  border-radius: 5px;
  padding: 5px;
  display: inline-block; 
  background-color:  #f2f2f2;
  border: 1px solid #000;
  font-size: 0.8rem;
  gap: 2px;
  position: absolute;
  margin-top: -138px;
  margin-left: 170px;
  width: 292px;
  height: 120px;
}
.narration-title {
  /* text-align: center; */
  font-size: 0.8rem;
  margin-bottom: 8px;
}
.narration-controls {
  width: 100%;
  display: flex;
  justify-content: space-around; 
  margin-top: 25px; /* This  is used for the buttons to center it*/
}
.narration-button {
  padding: 8px 16px;
  border: none; 
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
/*Text Magnifier*/
.text-magnified {
  transition: transform 0.3s ease-in-out;
  cursor: zoom-in;
}
.magnify:hover {
  transform: scale(1.5);
  z-index: 100;
}
.text-magnification-button {
  border: 1px solid #000;
  padding: 20px;
  width: 120px; 
  height: 120px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18px auto; /* Center the box */
  margin-right: 540px;
  cursor: pointer;
  background-color:  #f2f2f2;
}
/*Title colours*/ 
.title-color-selector-container{
  border-radius: 5px;
  padding: 5px; /* Reduced padding */
  display: inline-block; /* This will shrink the container to fit its content */
  background-color:  #f2f2f2;
  border: 1px solid #000;
  font-size: 0.8rem;
}
.title-color-selector-container{
  position: absolute;
  margin-top: -137px;
  margin-left: 170px;
  width: 290px;
  /* height: 115px; */
}
.title-color-selector-container button {
  font-size: 1rem;
}
/* reset button and the statement button */
.header-buttons-container{
  display: flex;
  align-items: center; /* Center buttons horizontally */
  gap: 10px; 
  margin-left: -268px;
  margin-top: 90px;
}
.reset-button,
.statement-button {
  font-size: 1.25rem;
}
/*Font size adjustment */
.font-size-adjustment-controls {
  border: 1px solid #000;
  border-radius: 5px; 
  /* padding: 16px; */
  max-width: 400px;
  /* margin: auto; */
  background: #f2f2f2;
  margin-left: 170px;
  width: 290px;
  height: 115px;
}
.font-size-adjustment-title {
  font-size: 0.8rem;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-top: 5px;
}
.font-size-adjustment-controls button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 15px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 30px;
  margin-top: 15px;
}
.font-size-adjustment-controls span {
  font-size: 1rem;
  padding: 0 30px;
}
/*Left Text alignment CSS */
.text-alignment-controls button {
  background-color: #f2f2f2;
  border: none;
  padding: 10px 20px;
  /* margin-top: 10px; */
  cursor: pointer;
  height: 115px;
  width: 120px;
  position: absolute;
  border: 1px solid #000;
}
.text-alignment-controls button.active {
  background-color: #d0d0d0;
}
/*This is manually done when clicked everything zooms to 1.5em */
/* .magnify-text {
  font-size: 1.5em !important; Change the value as needed and use !important to override other styles if necessary
} */
/*This is for the Adjust Line Height */
.line-height-controls {
  border: 1px solid #000;
  border-radius: 5px; 
  max-width: 400px;
  background: #f2f2f2;
  margin-left: 170px;
  width: 290px;
  height: 115px;
  margin-top: 30px;
}
.line-height-controls button{
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 15px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 30px;
  margin-top: 15px;
}
.line-height-controls-title{
  font-size: 0.8rem;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-top: 5px;
}
.line-height-controls span{
  font-size: 1rem;
  padding: 0 30px;
}
/*Right ALignment css */
.text-right button{
  background-color: #f2f2f2;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  height: 115px;
  width: 120px;
  position: absolute;
  border: 1px solid #000;
  margin-top: 30px;
}
.text-right button.active {
  background-color: #d0d0d0;
}
/* Sezure safe and vision impaired*/
.seizure-safe {
  animation: none !important;
  transition: none !important;
}
.vision-impaired {
  filter: contrast(1.5);
}
/* css the sezuire and vision impaired buttons */
.profile-toggle-container {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px #0000001a;
  width: 102.5%;
  margin: 20px auto;
}
.profile-toggle {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.profile-description {
  display: block;
  margin-bottom: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Switch off the color */
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3; /* Switch on the color */
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* ADHD Profile CSS styling the profile */
.blur-effect {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}
#focus-box {
  position: fixed;
  border: 2px solid #005A9C;
  border-radius: 4px;
  z-index: 10000;
  pointer-events: none;
  width: 200px;
  height: 100px;
  display: none;
  box-shadow: 0 0 8px #00000080;
  background-color: #ffffffe6;
}
.content-exclude-focus {
  transition: filter 0.3s ease-out;
}
/* Monochrome CSS*/
.monochrome-container button{
  border: 1px solid #000;
  padding: 20px;
  width: 120px; 
  height: 120px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18px auto;
  margin-right: 540px;
  cursor: pointer;
  background-color:  #f2f2f2;
}
/* CSS for title highlight functionality */
.highlight-Titles-container button{
  border: 1px solid #000;
  /* padding: 20px; */
  width: 120px; 
  height: 120px; 
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* margin: 18px auto; */
  margin-left: 170px;
  cursor: pointer;
  margin-top: -137px;
  background-color:  #f2f2f2;
}
.highlight{
  border: 1px solid #0066ff;
  border-radius: 4px;
}
/* Big Black Cursor CSS styling */
.big-cursor, .big-cursor * {
  cursor: url('../../assets/images/CURSORP.png'), auto !important;
}
.cursor-container button{
  border: 1px solid #000;
  width: 120px; 
  height: 120px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 340px;
  cursor: pointer;
  margin-top: -120px;
  background-color:  #f2f2f2;
}