.nav{
    background-color: black;
    /* justify-content: space-around; */
    /* position: fixed;
    width: 100%;
    padding: 30px 0; */
    font-family: 'Times New Roman', Times, serif;
    font-style: Lucida Console;
    font-size: 15px;
    transition: all 0.3s ease;
    /* display: flex;
    align-items: center; */
    /* direction: left; */
}
.nav a{
    color: white;
    text-decoration: none;
    display:flex;
    padding: 47px;
}
.logo{
    height:127px;
    width:127px;
    margin-right: 565px;
    border-radius: 50%;
}
.icon-style {
    color: white; /* Change the icon color */
    font-size: 48px;
    margin-top: 32px;
  }
.icon-style:hover{
    color: blue;
    cursor: pointer;
}