.nav{
    background-color: black;
    /* display: flex;
    position: absolute;
    width: 100%; */
    /* justify-content: space-around; */
    /* position: fixed;
    width: 100%;
    padding: 30px 0; */
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
    /* padding: 15px 0; */
    /* display: flex;
    align-items: center;
    direction: rtl; */
}
.nav a{
    color: white;
    text-decoration: none;
    display:flex;
    padding: 47px;
}
.logo{
    height:127px;
    width:127px;
    margin-right: 625px;
}